<h1>商品一覧</h1>


<table>
   <% @items.each do |item| %>
         <td><%= item.id %> </td>
         <td><%= item.name %> </td>
         <td><%= item.price %> </td>
         <td><%= item.genre %> </td>
         <td></td>

   <% end %>

</table>










