<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
     <h2 class="mt-4"><strong>注文履歴詳細</strong></h2><br>


  <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
             <td><%= order.item.name %></td>
             <td><%= order.item.with_tax_price %></td>
             <td><%= order.quantity %></td>
             <td><%= order.status %></td>

          <% end %>
        </tbody>
   </table>
     </div>
  </div>
 </div>