<h2>ジャンル編集</h2>

    <tabel>
    <div class='container'>
      <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <td class="mt-3">ジャンル名</td>
            <tr>
             <%= form_with model: @genre, url: edit_admin_genre_path , local:true do |f| %>
            </tr>
              <div class="form-group">

              <th>  <%= f.text_field :name, class: 'form-control' %></th>
              </div>
              <div class="form-group">
                <%= f.submit "変更を保存", class: 'btn btn-success' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    </table>
