/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.color {
    background-color: #6c2735;
}

.header-logo img{
  float: left;
}

.footer {
    position: absolute;
    bottom: 0;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-image: url(cake_top.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-content {
  width: 40%; /* 横幅40% */
  height: 300px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

/* 追加 */
.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}

/* 追加 */
.main-visual-name {
  margin-top: 30px; /* 上側の外側の余白 */
  color: #fff; /* 文字色を白に変更 */
}

.main {
  width: 840px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto;
}